/* Page des commandes en preparation*/
.tableprep {
  width: 50%;
  margin: auto;
  margin-bottom: 500px;
}

.formulaire {
  width: 50%;
  margin: auto;
  text-align: center;
}

h1, h3 {
  background-color: #203864;
  padding: 10px;
  margin: 50px;
  color: lightgrey;
  text-align: center;
}

  .tableprep table {
    table-layout: fixed;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #203864;
    background-color: #ccddff;
    float: right;
  }

  .tableprep th {
    background-color: #203864;
    color: lightgrey;
  }

  .tableprep td {
    padding: 8px;
  }

  .tableprep tr:nth-child(even) {
    background-color: #f2f2f2;
  }

/* Adaptation du site a 850px de large*/
@media all and (max-width: 850px) {
  .articles {
    width: 97%;
    margin: 0px;
  }

  .titreindex {
    margin: 0px;
    width: 91%;
  }

  .interac {
    flex-direction: column;
  }

  .tableprep {
    width: 75%;
  }
}

/* Adaptation du site a 550px de large*/
@media all and (max-width: 550px) {
  .banner ul {
    padding: 0px;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
  }

  .titreindex {
    width: 88.5%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .articles ul {
    margin-left: 5px;
    margin-right: 5px;
  }

  .formulaire {
    padding: 0px;
  }

  footer ul {
    flex-direction: column;
  }

  .tableprep {
    width: 100%;
  }

  .banner ul {
    padding: 0px;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
  }

  .interac img {
    width: 100px;
    padding: 5%;
  }

  .interacText {
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: 5%;
  }
}
