<div class="gerant">
  <h1>Bill, votre gérant Québec Informatique</h1>
  <div id="texte" class="row">
    <div class="col-md-1"><img alt="img_gerant" src="{{lienImgGerant}}" /></div>
    <div class="col-md-11">
      <h3>Son histoire, sa boutique</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum rhoncus massa, at pretium eros pellentesque vel. Proin eros tortor, rutrum eget quam quis, tincidunt molestie lectus. Sed consectetur est aliquet pulvinar porttitor. Aliquam erat
        volutpat. Nullam bibendum ex non turpis blandit, in placerat sapien eleifend. Suspendisse quis aliquam lorem, lacinia suscipit felis. Aliquam erat volutpat. Nulla interdum eleifend sem vitae placerat. Etiam pellentesque dolor erat, in auctor
        elit convallis a. Vestibulum at urna sit amet augue imperdiet aliquam
      </p>
    </div>
  </div>
</div>

<div class="contact" style="text-align: center;">
  <h1>Contactez-nous</h1>
  <img src="{{lienImgLogo}}" height="300px" width="300px" alt="logo QI" />
  <address>
    42, rue du Routeur<br /> Saint-Lambert (Québec)<br /> J4S F37<br />
    <b>Téléphone: 438 607-3671</b><br />
    <a href="mailto:qi_contact@qi.ca">Envoyer un courriel</a>
  </address>
</div>

