<nav class="banner">
  <ul class="barreh">
    <li><a routerLink='/articles'><img src="{{lienLogo}}" alt="logo QI"></a></li>
    <li><a class="link" routerLink='/gérant'>Gérant</a></li>
    <li><a class="link" routerLink='/commander'>Commander</a></li>
    <li><a class="link" routerLink='/suivi'>Suivi</a></li>
  </ul>
</nav>
<body>
  <router-outlet></router-outlet>
</body>
<footer>
  <ul class="barreh">
    <li><a class="linkfooter" href="https://uqam.ca/" target="_blank"><img src="{{logoUqam}}" alt="logo UQAM"></a></li>
    <li><a class="linkfooter" href="assets/data/bd.json" target="_blank">Données brutes: bd.json </a></li>
    <li><a class="linkfooter" href="assets/data/commandes.json" target="_blank">Données brutes: commandes.json </a></li>
    <li><a class="linkfooter" href="https://www.quebec.ca/sante/problemes-de-sante/a-z/coronavirus-2019/" target="_blank">Plus d'informations sur le COVID-19</a></li>
  </ul>
</footer>
